<section id="main" class="container">
    <div class="row">
        <section class="box">
            <header>
               <h1>Log In:</h1>
            </header>

            <form method='POST' action='/session'>

                <input type='hidden' name='redir' value='<%= redir %>'>

                <div>
                    <br />
                    <input type="text" id="login" name="login" size="30" autocomplete="off" placeholder="username" />
                </div>

                <div>
                    <br />
                    <input type="password" id="password" name="password" size="30" autocomplete="off" placeholder="password" />
                </div>
                <br>
                <div>
                    <input class="small" name="commit" type="submit" value="Login" />
                </div>

            </form>
        </section>
    </div>
</section>
