<section id="banner">
	<h2>Quizzy</h2>
	<p>Who created Pretty Good Privacy (PGP)?</p>
	<ul class="actions special">
		<li><a href="#" class="button primary">Sign Up</a></li>
		
	</ul>
</section>
<!-- Main -->
<section id="main" class="container">

	<section class="box special">
		<header class="major">
			<h2>The ultimate quizzes Game</h2>
			<br />
			<p>	Made by a student of telecommunications engineering of the ETSIT. </p>
		</header>
		<span class="image featured"><img src="images/etsit.jpg" alt="" /></span>
	</section>

