<section id="main" class="container">
	<div class="row">
		<section class="box">
			<header>
			   <h1>Edit Question:</h1>
			</header>

			<form method="post" action="/quizzes/<%= quiz.id %>?_method=PUT" enctype="multipart/form-data" >
			    <% include _form.ejs %>
			</form>
		</section>
	</div>
</section>