<section id="main" class="container">
	<div class="row">
		<section class="box">
			<header>
			   <h1>Add Question:</h1>
			</header>
			<form method="post" action="/quizzes" enctype="multipart/form-data" >

			    <% include _form.ejs %>

			</form>
		</section>
	</div>
</section>