<section id="main" class="container">
    <div class="row">
        <section class="box">
            <header>
               <h1>Show Question:</h1>
            </header>

<div class="quizItem">

    <div>
        <% var attachment = quiz.attachment; %>
        <% include ../attachments/_show %>
    </div>

    <div>
        <% include ../favourites/_stars.ejs %>
        <br/>
        Question: <b><%= quiz.question %></b>
        <br>
        
        Topic: <b> <%= quiz.topic.topic %> </b>
        <br />
        Answer: <b><%= quiz.answer %></b>
        <br />
        <small> by <b><%= quiz.author ? quiz.author.username : "Anonymous" %> </b></small>
    </div>

</div>





    <h1>
        Tips:
    </h1>

    <% if (session.user) { %>
        <% include ../tips/new %>
    <% } %>

    <% var tips = quiz.tips; %>
    <% var quizId = quiz.id; %>
    <% var quizAuthorId = quiz.authorId; %>

    <% include ../tips/index %>




        </section>
    </div>
</section>