<script>
    function confirmPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;

        if (!pw1 || !pw2) {
            
            return true;
        }

        if (pw1 === pw2) {
            return true;
        } else {
            alert('Passwords do not match.');
            return false;
        }
    }
</script>


<ul>
            <br>
        <% if ( !user.id) { %>
            <input type="text" id="username" placeholder="Username" name="username" value="<%= user.username %>" autocomplete="off"/>
            <br>
        <% } else { %>
            <li><b>Username: <%= user.username %></b></li>
            <label for="name">Name:</label>
        <% } %>
        <input type="text" id="name" name="name" placeholder="Name" value="<%= user.name %>" autocomplete="off"/>
        <br>
        <input type="password" id="user_password" placeholder="Password" name="password" autocomplete="off"/>
        <br>
        <input type="password"  id="user_confirm_password" placeholder="Confirm Password" autocomplete="off"/>

    
</ul>

<div>
    <a href="/goback" class="button small alt">Cancel</a>
    <input class="button small" type="submit" value="Save" onclick="return confirmPassword()">
</div>

