<section id="main" class="container">
	<div class="row">
		<section class="box">
			<header>
			   <h1>Edit User:</h1>
			</header>

			<form method="post" action="/users/<%= user.id %>?_method=PUT">
			    <% include _form.ejs %>
			</form>

		</section>
	</div>
</section>
